<tr>
  <th scope="row" id={{id}}>{{id}}</th>
  <td>{{product_name}}</td>
  <td>{{price_per_pound}}</td>
  <td>
    <select class="form-control" id="pounds">
      <option selected disabled>Select Amount</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </td>
</tr>